.visual-myCustomVisual4B7378D7B0FA4AA79F318AE13164CA34_DEBUG p {
  font-size: 20px;
  font-weight: bold;
}
.visual-myCustomVisual4B7378D7B0FA4AA79F318AE13164CA34_DEBUG p em {
  background: yellow;
  padding: 5px;
}
